<!DOCTYPE html>
<html lang="en">

<head>
  <title>FieldLab | About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="site-wrap">
    <div class="site-navbar py-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="index.html">
                <img src="images/logo.png">
              </a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block"  style="padding-left: 130px;">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="index.html" class="active">Home</a></li>
                <li class="has-children">
                  <a href="#">Categories</a>
                  <ul class="dropdown">
                    <li class="has-children">
                      <a href="products.html">Laboratory Instruments</a>
                      <ul class="dropdown">
                        <li><a href="single-product.html">Analytical Balance</a></li>
                        <li><a href="single-product.html">Binocular Microscopy</a></li>
                        <li><a href="single-product.html">Incubator</a></li>
                        <li><a href="single-product.html">Vein Finder</a></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="products.html">Health care</a>
                      <ul class="dropdown">
                        <li><a href="single-product.html">Electronic Insulin Pump</a></li>
                        <li><a href="single-product.html">CGM</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="products.html">Products</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="troubleshooting.html">Troubleshooting</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
    </div>
    </div>
    <div class="site-blocks-cover inner-page" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>About Us</h1>
              <p>FieldLab is subsidiary company for our mother company Zone Technologies located at Cairo-Egypt and our sister Prime Zone Systems located at Casablanca Morocco specialized in supplying Medical and Lab solutions to the Egyptian Market.</p>ˀ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading  mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>
              FieldLab is subsidiary company for our mother company Zone Technologies located at Cairo-Egypt and
  our sister Prime Zone Systems located at Casablanca Morocco specialized in supplying Medical and Lab
  solutions to the Egyptian Market.
  Zone Technologies was founded in 2005, as Egyptian Survey Ltd by Amr Mosa as a sister company for
  “Zone Survey-1997” Egypt with few customers in the Egyptian Market, they bought an office space in
  New Maadi- Cairo .the young company managed to make their mark in the business by providing
  exceptional Technical Support and Technical Training and also by repairing equipment faster than
  anyone. We are now the largest distributorof positioning systems in Egypt over 28 employees.
            </p>
    
          </div>
        </div>
      </div>
    </div>    
    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
    
    
            <div class="site-section-heading  mb-4">
              <h2 class="text-black">We Are Trusted Company</h2>
            </div>
            <p class="text-black">Prime Zone Systems was founded in 2014, as Moroccan Survey Equipment Supplier SARL., as a
              subsidiary company for “Zone Technologies “Egypt with no customers in the Moroccan market, After 7
              years Prime Zone Systems are now largest distributor or positioning systems in Morocco over 20
              employees and many distribution agreements with multinationals manufactures from Switzerland,
              Germany ,UK and US.
              For over 16 years Zone Technologies has helped clients capture, transform and manage data leading to
              increase efficiency and probability. We provide solutions to engineering, surveying, construction,
              mining, utilities, and Marine and government sectors to improve productivity in the complete field to
              finish workflow.</p>
    
          </div>
        </div>
      </div>
    </div>
    <div class="site-section custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading  mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>
              For over 7 years Prime Zone Systems has helped clients capture, transform and manage data leading to
              increase efficiency and probability. We provide solutions to engineering, surveying, construction,
              mining, utilities, and Marine and government sectors to improve productivity in the complete field to
              finish workflow.
              At FieldLab we offer a variety of world-class training options designed to meet your needs and schedule.
              A powerful, effective and interesting way to learn including traditional face –to-face instruction, on-line
              training, you can rest assured that you will be learning from the industry’s best. Training is part of our
              commitment to providing you with total quality solution.
              As part of our commitment to your satisfaction with the products we supply, FieldLab provides ongoing
              hardware support such as maintenance, repair and calibration. Our certified service Centre is equipped
              with the latest instrumentation and annual factory training of our service technicians ensure that you
              remain productive in the field.
              Our dedicated support personal offer remote telephone support to users in the field and the office,
              ensuring maximum up-time and efficient use of our solutions..
            </p>
    
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>FieldLab is subsidiary company for our mother company Zone Technologies located at Cairo-Egypt and
                our sister Prime Zone Systems located at Casablanca Morocco specialized in supplying Medical and Lab
                solutions to the Egyptian Market.</p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="products.html">Products</a></li>
              <li><a href="services.html">Services</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">10 Fake St., Maadi, Cairo, Egypt</li>
                <li class="phone"><a href="tel://23923929210">+02345678</a></li>
                <li class="email">contact@fieldlab.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/main.js"></script>
</body>
</html>