<!DOCTYPE html>
<html lang="en">

<head>
  <title>FieldLab | Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="site-wrap">
    <div class="site-navbar py-2">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="index.html">
                <img src="images/logo.png">
              </a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block"  style="padding-left: 130px;">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="index.html" class="active">Home</a></li>
                <li class="has-children">
                  <a href="#">Categories</a>
                  <ul class="dropdown">
                    <li class="has-children">
                      <a href="products.html">Laboratory Instruments</a>
                      <ul class="dropdown">
                        <li><a href="single-product.html">Analytical Balance</a></li>
                        <li><a href="single-product.html">Binocular Microscopy</a></li>
                        <li><a href="single-product.html">Incubator</a></li>
                        <li><a href="single-product.html">Vein Finder</a></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="products.html">Health care</a>
                      <ul class="dropdown">
                        <li><a href="single-product.html">Electronic Insulin Pump</a></li>
                        <li><a href="single-product.html">CGM</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="products.html">Products</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="troubleshooting.html">Troubleshooting</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Products</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <button style="margin:20px;" type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
              data-toggle="dropdown">Filter By Category</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
              <a class="dropdown-item" href="#">Laboratory Instruments</a>
              <a class="dropdown-item" href="#">Health Care</a>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="single-product.html"> <img src="images/1.jpeg" width="300" height="400" alt="Image"></a>
            <h3 class="text-dark"><a href="single-product.html">Analytical Balance</a></h3>
            <p class="price">
              A class of balance designed to measure
              small mass in the sub-milligram range..... <br>
              <a href="single-product.html">
                <span style="color:#3278cd; font-weight:bold;">Read More</span>
              </a>
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="single-product.html"> <img src="images/2.jpeg" width="300" height="400" alt="Image"></a>
            <h3 class="text-dark"><a href="single-product.html">Autoclave</a></h3>
            <p class="price">
              A tabletop steam sterilizer with a range of
              pressure-temperature controlling,..... <br> 
              <a href="single-product.html">
                <span style="color:#3278cd; font-weight:bold;">Read More</span>
              </a>  
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="single-product.html"> <img src="images/3.jpeg" width="300" height="400" alt="Image"></a>
            <h3 class="text-dark"><a href="single-product.html">Binocular Microscopy</a></h3>
            <p class="price">
              An optical microscope with two eyepieces to
                  significantly ease viewing and cut down on eye strain,....<br>
                  <a href="single-product.html">
                    <span style="color:#3278cd; font-weight:bold;">Read More</span>
                  </a>
            </p>
          </div>
    
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
    
            <a href="single-product.html"> <img src="images/4.jpeg" width="300" height="400" alt="Image"></a>
            <h3 class="text-dark"><a href="single-product.html">Autoclave</a></h3>
            <p class="price">
              A tabletop steam sterilizer with a range of
              pressure-temperature controlling,..... <br> 
              <a href="single-product.html">
                <span style="color:#3278cd; font-weight:bold;">Read More</span>
              </a>  
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="single-product.html"> <img src="images/5.jpeg" width="300" height="400" alt="Image"></a>
            <h3 class="text-dark"><a href="single-product.html">Electronic insulin pump with CGM</a></h3>
            <p class="price">
              A CGM requires a small sensor which is
              inserted under the skin into fatty tissue......<br>
              <a href="single-product.html">
                <span style="color:#3278cd; font-weight:bold;">Read More</span>
              </a>
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            
            <a href="single-product.html"> <img src="images/6.jpeg" width="300" height="400" alt="Image"></a>
            <h3 class="text-dark"><a href="single-product.html">Analytical Balance</a></h3>
            <p class="price">
              A class of balance designed to measure
              small mass in the sub-milligram range..... <br>
              <a href="single-product.html">
                <span style="color:#3278cd; font-weight:bold;">Read More</span>
              </a>
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>FieldLab is subsidiary company for our mother company Zone Technologies located at Cairo-Egypt and
                our sister Prime Zone Systems located at Casablanca Morocco specialized in supplying Medical and Lab
                solutions to the Egyptian Market.</p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="products.html">Products</a></li>
              <li><a href="services.html">Services</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">10 Fake St., Maadi, Cairo, Egypt</li>
                <li class="phone"><a href="tel://23923929210">+02345678</a></li>
                <li class="email">contact@fieldlab.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>